In [1]:
import pandas as pd       #data processing
import numpy as np        #linear algebra

import seaborn as sns     
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline

import datetime as dt

import warnings; warnings.simplefilter('ignore')

In [2]:
preprocessed_data = data=pd.read_csv("preprocessed_dataset.csv")
data = data=pd.read_csv("Datasets/yellow_tripdata_2013-08.csv")

In [3]:
preprocessed_data.head()

,Unnamed: 0,passenger_count,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,pickup_duration,Speed
0,0,1,1.0,-73.989877,40.734282,-73.999419,40.731370,11.416667,1.377511e+09,5.255474
1,1,1,6.7,-73.979861,40.760016,-73.941870,40.807038,28.866667,1.377783e+09,13.926097
2,5,1,1.1,-73.968052,40.759396,-73.955766,40.768182,3.250000,1.377896e+09,20.307692
3,6,2,1.6,-73.981102,40.758697,-73.997180,40.744726,6.950000,1.377540e+09,13.812950
4,7,1,1.4,-73.959671,40.790207,-73.977851,40.782913,4.366667,1.377525e+09,19.236641

In [4]:
data.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,CMT,2013-08-26 15:33:22,2013-08-26 15:44:47,1,1.0,-73.989877,40.734282,1,N,-73.999419,40.731370,CSH,8.5,0.0,0.5,0.0,0.0,9.0
1,CMT,2013-08-29 19:08:04,2013-08-29 19:36:56,1,6.7,-73.979861,40.760016,1,N,-73.941870,40.807038,CSH,24.5,1.0,0.5,0.0,0.0,26.0
2,CMT,2013-08-26 13:54:27,2013-08-26 14:08:44,1,3.0,-74.010442,40.710103,1,N,-73.987447,40.749764,CSH,12.5,0.0,0.5,0.0,0.0,13.0
3,CMT,2013-08-30 08:48:17,2013-08-30 09:30:51,2,5.2,-73.927998,40.763857,1,N,-73.990953,40.756045,CSH,27.0,0.0,0.5,0.0,0.0,27.5
4,CMT,2013-08-26 14:38:38,2013-08-26 14:57:43,1,4.2,-73.990084,40.742318,1,N,-74.014300,40.704145,CSH,17.0,0.0,0.5,0.0,0.0,17.5

In [2]:
data=pd.read_csv("Datasets/yellow_tripdata_2013-08.csv")

In [3]:
data.shape

(12597109, 18)

In [4]:
data.columns

Index(['vendor_id', 'pickup_datetime', 'dropoff_datetime', 'passenger_count',
       'trip_distance', 'pickup_longitude', 'pickup_latitude', 'rate_code',
       'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude',
       'payment_type', 'fare_amount', 'surcharge', 'mta_tax', 'tip_amount',
       'tolls_amount', 'total_amount'],
      dtype='object')

In [5]:
data.isnull().sum()

vendor_id                   0
pickup_datetime             0
dropoff_datetime            0
passenger_count             0
trip_distance               0
pickup_longitude            0
pickup_latitude             0
rate_code                   0
store_and_fwd_flag    6066630
dropoff_longitude          45
dropoff_latitude           45
payment_type                0
fare_amount                 0
surcharge                   0
mta_tax                     0
tip_amount                  0
tolls_amount                0
total_amount                0
dtype: int64

In [6]:
data = data.dropna(subset=['dropoff_longitude','dropoff_latitude'])

In [7]:
data.isnull().sum()

vendor_id                   0
pickup_datetime             0
dropoff_datetime            0
passenger_count             0
trip_distance               0
pickup_longitude            0
pickup_latitude             0
rate_code                   0
store_and_fwd_flag    6066585
dropoff_longitude           0
dropoff_latitude            0
payment_type                0
fare_amount                 0
surcharge                   0
mta_tax                     0
tip_amount                  0
tolls_amount                0
total_amount                0
dtype: int64

In [8]:
data.nunique()

vendor_id                   2
pickup_datetime       2225920
dropoff_datetime      2227157
passenger_count            11
trip_distance            4958
pickup_longitude       176983
pickup_latitude        189384
rate_code                  14
store_and_fwd_flag          2
dropoff_longitude      252791
dropoff_latitude       264631
payment_type                5
fare_amount              1798
surcharge                  60
mta_tax                    19
tip_amount               3203
tolls_amount              962
total_amount            11164
dtype: int64

In [9]:
data.describe()

,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,dropoff_longitude,dropoff_latitude,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
count,1.259706e+07,1.259706e+07,1.259706e+07,1.259706e+07,1.259706e+07,1.259706e+07,1.259706e+07,1.259706e+07,1.259706e+07,1.259706e+07,1.259706e+07,1.259706e+07,1.259706e+07
mean,1.701690e+00,7.743531e+01,-7.313444e+01,4.028556e+01,1.036399e+00,-7.308213e+01,4.025744e+01,1.256977e+01,3.310817e-01,4.977587e-01,1.359664e+00,2.752582e-01,1.513126e+01
std,1.369035e+00,2.461919e+04,7.880285e+00,4.680549e+00,3.719518e-01,8.134943e+00,4.942824e+00,5.453654e+01,8.009732e-01,7.391341e-02,2.351746e+00,1.499757e+00,2.522747e+02
min,0.000000e+00,0.000000e+00,-1.958327e+03,-3.347937e+03,0.000000e+00,-2.216325e+03,-3.114339e+03,-1.430000e+03,-1.950000e+01,-5.000000e-01,-9.682000e+01,-2.225000e+01,-1.430000e+03
25%,1.000000e+00,1.010000e+00,-7.399273e+01,4.073427e+01,1.000000e+00,-7.399186e+01,4.073335e+01,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,8.000000e+00
50%,1.000000e+00,1.900000e+00,-7.398235e+01,4.075160e+01,1.000000e+00,-7.398099e+01,4.075212e+01,9.500000e+00,5.000000e-01,5.000000e-01,1.000000e+00,0.000000e+00,1.130000e+01
75%,2.000000e+00,3.300000e+00,-7.396840e+01,4.076530e+01,1.000000e+00,-7.396511e+01,4.076591e+01,1.400000e+01,5.000000e-01,5.000000e-01,2.000000e+00,0.000000e+00,1.670000e+01
max,2.080000e+02,1.533180e+07,5.142525e+01,4.739583e+02,2.390000e+02,9.341115e+01,1.344402e+03,1.589958e+05,8.545000e+02,8.005000e+01,8.881900e+02,9.600900e+02,6.859081e+05

In [10]:
data['pickup_datetime']=pd.to_datetime(data['pickup_datetime'])
data['dropoff_datetime']=pd.to_datetime(data['dropoff_datetime'])

In [11]:
data['pickup_day']=data['pickup_datetime'].dt.day_name()
data['dropoff_day']=data['dropoff_datetime'].dt.day_name()

In [12]:
data['pickup_day_no']=data['pickup_datetime'].dt.weekday
data['dropoff_day_no']=data['dropoff_datetime'].dt.weekday

In [13]:
data['pickup_hour']=data['pickup_datetime'].dt.hour
data['dropoff_hour']=data['dropoff_datetime'].dt.hour

In [14]:
data['pickup_month']=data['pickup_datetime'].dt.month
data['dropoff_month']=data['dropoff_datetime'].dt.month

In [15]:
def time_of_day(x):
    if x in range(6,12):
        return 'Morning'
    elif x in range(12,16):
        return 'Afternoon'
    elif x in range(16,22):
        return 'Evening'
    else:
        return 'Late night'

In [16]:
data['pickup_timeofday']=data['pickup_hour'].apply(time_of_day)
data['dropoff_timeofday']=data['dropoff_hour'].apply(time_of_day)

In [17]:
from geopy.distance import great_circle

def cal_distance(pickup_lat,pickup_long,dropoff_lat,dropoff_long):
 
 start_coordinates=(pickup_lat,pickup_long)
 stop_coordinates=(dropoff_lat,dropoff_long)
 
 return great_circle(start_coordinates,stop_coordinates).km

In [ ]:
data['distance'] = data.apply(lambda x: cal_distance(x['pickup_latitude'],x['pickup_longitude'],x['dropoff_latitude'],x['dropoff_longitude'] ), axis=1)

In [ ]:
data.head()